.BulletinEditor {
  border: 1px soild gray;
  text-align: center;
  padding: 20px;
}

.BulletinEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.BulletinEditor textarea {
  height: 150px;
}
